{#{% extends 'base.html.twig' %}#}
<link rel="stylesheet" href={{ asset('css/style.css') }} xmlns="http://www.w3.org/1999/html">
{#{% block title %}Formulaire d'enregistrement{% endblock %}#}

{% block body %}

    <form class="box" method="get">
        <h1>Formulaire d'enregistrement</h1>
        {{ form_start(registrationForm) }}
      <table align="center">  <tr><td>
        {{ form_row(registrationForm.nom, {'attr':{'class':'form-control'}}) }}</td>
            <td> {{ form_row(registrationForm.prenom, {'attr':{'class':'form-control'}}) }}</td></tr></table>
        {{ form_label(registrationForm.email,'Adresse électronique') }}
        {{ form_widget(registrationForm.email, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(registrationForm.email) }}
        {{ form_label(registrationForm.plainPassword,'Créez votre mot de passe') }}
        {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms, {'attr':{'class':'form-control'}}) }}


        <button  type="submit">
            S'enregistrer
        </button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
